.header{
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.para{
    color: rgb(23, 21, 19);
    font-family: Arial, Helvetica, sans-ser
}
.pic{
    margin-left: 700px;
}